Password Reset Form
.container
  .jumbotron
    %p Reset your password

    = @greeting + ", find me in app/views/user_mailer/password_reset.text.haml"

    %p If you did not request your password to be reset please ignore this email and your password will stay as it is.



